<!--The content below is only a placeholder and can be replaced.-->
<dashboard>
    
</dashboard>

<!-- <div style="text-align:center">
  <h1>
     {{ title }} !
  </h1>  
</div>

<nav>
  <a routerLink="/home" routerLinkActivated="active">Home</a>
  <a routerLink="/dashboard" routerLinkActivated="active">Dashboard</a>
</nav> -->


<router-outlet></router-outlet>











<!-- <!DOCTYPE html>
<html lang="en">
< <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<body> 

  <div class="row">
   <div class="col-sm-2" style="background-color:rgb(10, 80, 25);"> 
      <div class="col-sm-2" style="-webkit-tap-highlight-color: aliceblue">
     Sidebar 
     <script src="src/Javascript/sidebar.js"></script> 
          <ul class="nav sidebar-nav">
              <li>
                  <a >Home</a>
              </li>
              <li>
                  <a >Dashboard</a>
              </li>
            
          </ul>

    </div>
   <div class="col-sm-8" style="background-color:rgb(239, 242, 243);">
    Yoooooooooooooooooooooooooooo
    </div>         
  </div>

</body>

</html> -->
