// .sidenav-container {
//   height: 100%;
// }

// .sidenav {
//   width: 200px;
//   box-shadow: 3px 0 6px rgba(20, 54, 247, 0.24); 
// }

// .sidenav .mat-toolbar {
//   background: cornflowerblue;
// }

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }



// .active-cyan-2 input[type=text]:focus:not([readonly]) {
//   border-bottom: 1px solid #4dd0e1;
//   box-shadow: 0 1px 0 0 #4dd0e1;
//   }
  
//   .active-cyan input[type=text] {
//   border-bottom: 1px solid #4dd0e1;
//   box-shadow: 0 1px 0 0 #4dd0e1;
//   }
  
//   .active-cyan .fa,
//   .active-cyan-2 .fa {
//   color: #4dd0e1;
//   }

//   .mat-icon{
//     display: inline-flex;
//     padding: 100px;
  
  
//   }

.maindiv { 
  min-height: 100vh; 
} 

.site{ 
  display: flex; 
  flex-direction: column; 
  min-height: 90vh; 
} 

.content{ 
  flex: 1px; 
} 

.footer{
  background-color: cornflowerblue;
}

.menu{
  background-color: aqua;
  display: flex;
  
}

.button{
  display: flex;
  font-size: 10em;
  align-content: center;

}


.example-container{
  padding: 10px;
  min-height: 90vh; 
}